.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-column: 2/-1;
}

.search-trigger {
  height: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1;
  margin: {
    top: 1.5rem;
    right: 2.5rem;
    left: .4rem;
  }

  &-txt {
    margin-right: .3rem;
    font-family: 'Lato';
  }
}

.search-field {
  opacity: 0;
  z-index: 1;
  flex-grow: 1;
}

.search-input {
  width: 100%;
  height: 2.9rem;
  background-color: #f7f7f6;
  font-size: 1.2rem;
  z-index: 1;
  flex-grow: 1;
  color: #9e0000;
  padding: .2rem 0 0rem .7rem;
  border: {
    width: 0 0 2px 0;
    radius: 0;
    color: var(--borderColor);
  }

  &::placeholder {
    color: var(--borderColor);
    opacity: 0.5;
    font-family: 'Lato';
  }

  &:focus,
  &:focus-visible {
    outline: none;
    color: var(--borderColor);
  }
}

.search-overlay {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 110;
  position: absolute;
  top: 76px;
  left: 9px;
  right: 9px;
  bottom: 9px;
  background-color: #d7d7d2;
  visibility: hidden;
  opacity: 0;
  transform: scaleX(1.09);
  transition: opacity .3s, transform .3s, visibility .3s;
  box-sizing: content-box;
  border-radius: 7px;

  h2 {
    margin-bottom: 1rem;
  }

  .column {
    margin-bottom: 1rem;
  }

  &-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2.1rem;
    cursor: pointer;
    transition: all .3s;
    line-height: .7;
  }
  &-container {
    padding: 1rem 1rem;
  }
}

.search-field-active {
  overflow: hidden; // to prevent scrolling while search field is open

  .search-field {
    opacity: 1;
    background-color: white;
  }
  .search-trigger-txt {
    display: none;
  }
}

.search-results-active {
  .search-overlay {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.spinner-loader {
  left: 50vw;
  transform: translateX(-100%);
  position: absolute;
  margin-top: 45px;
  width: 24px;
  height: 24px;
}

.spinner-loader .anim {
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(62, 0, 0, 0.2);
  border-top-color: #9e0000;
  border-radius: 50%;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}