@use 'search';

:root {
  --borderColor: #0060a0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  box-shadow: inset 0 0 0 9px var(--borderColor);
  min-height: 100%;
  width: 100vw;
  font-family: 'Oswald';
  color: #0060a0;
  overflow-x: hidden;

  &::before {
    border: 9px solid var(--borderColor);
    display: block;
    content: '';
    border-radius: 22px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(198,149,57, .5);
  }
}

.site-header {
  border: 9px solid var(--borderColor);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom: 4px solid var(--borderColor);
  background-color: rgba(255,255,255,.6);
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.site-title {
  font-weight: 500;
  text-transform: uppercase;
  grid-column: 1/2;
  margin-top: 1rem;
  margin-left: 2.4rem;
  margin-bottom: 0;
  color: #2225d5;

  a {
    text-decoration: none;
    color: #2225d5;
  }
}

.site {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2rem 3rem;
  font-family: 'Lato';
}

h2 {
  margin-bottom: .5rem;
  grid-column: 1/-1;
  
  .categories &,
  .tags & {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 400;
  }
}

.place {
  &-header {
    position: relative;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid;
    margin-bottom: 1rem;
    &::after {
      border-radius: 6px;
      height: 4px;
      background-color: var(--borderColor);
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &-name {
    font-weight: 700;
    font-size: 2.2rem;
    display: flex;
    align-items: flex-end;
  }
  &-meta {
    text-align: right;
    margin-bottom: .5rem;

    &__line-item {
      display: flex;
      justify-content: flex-end;

      &-key {
        font-weight: 700;
        margin-right: .3rem;
      }
      &__categories {
        margin-right: .6rem;
      }
    }
  }
}

a {
  color: var(--borderColor);
}

.links-list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  li {
    padding-left: 1rem;
    position: relative;
    display: block;
    padding: .2rem 1rem;

    

    &::before {
      content: '\2022';
      position: absolute;
      left: 0;
    }
  }
}

.acf-map {
  height: 17rem;
  grid-column: -3/-1;
  border: 2px solid;
  border-radius: 9px;
  margin-bottom: 1rem;
}

.ophours {
  grid-column: -3/-1;
  width: max-content;
  border: 1px solid;
  border-radius: 9px;
  padding: .5rem .8rem;
  background-color: rgba(255,255,255,.4);

  &-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .6rem;
  }
  
  &-row {
    margin-bottom: .3rem;
  }
  &-day {
    padding-right: .5rem;
  }
}

.archive-title {
  text-transform: uppercase;
}